/Debug/
/Middlewares/
/Drivers/
/.settings/
/FreeVarioF4.elf.launch
/STM32F407VE_FLASH.ld
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
.c9
.tmp
.log
/.cproject
/.mxproject
/.project
/.cproject (conflicted copy 2018-12-19 194956)
